<div id="banner">
	<div class="outline"></div>
	
	
	<div class="frame frame1">
		<img src="./images/bg_1.jpg" class="bg retina" >
		<img src="./images/brush.png" class="brush" >
		<img src="./images/t1a.png" class="retina shadow t1a" >
		<img src="./images/t1b.png" class="retina shadow t1b" >
		<img src="./images/t1c.png" class="retina  t1c" >
		<img src="./images/t1d.png" class="retina shadow t1d" >

		<img src="./images/logo.png" class="retina" >

		
	</div>

	

	
	

	<% include ../_common/templates/_rich %>

	<div class="frame endframe jackpot_no">
		<img src="./images/bg_2.jpg" class="bg2 retina" >
		<img src="./images/t2a.png" class="retina shadow t2a" >
		<img src="./images/t2b.png" class="retina shadow t2b" >
		<img src="./images/t2c.png" class="retina shadow t2c" >
		<img src="./images/t2d.png" class="retina shadow t2d" >
		
		<img src="./images/cta.png" class="retina  cta" >

		<img src="./images/logo.png" class="retina" >
		<img src="./images/footer.png" class="retina footer" >
	</div>

	
	<% include ../_common/templates/_blink %>

	

	<div id="pn-bg-exit"></div>
</div>