<div id="banner">
	<div class="outline"></div>
	
	
	<div class="frame frame1">

		<img src="./images/bg_1.jpg" class="bg retina" >
		<img src="./images/bg_2.jpg" class="bg2 retina" >
		<img src="./images/footer.png" class="retina footer" >
		<img src="./images/logo.png" class="retina logo" >
		<% include ../_common/templates/_blink %> 
	</div>

	<div class="frame words jackpot_yes">
		<img src="./images/bg_blue.png" class="retina bg_blue" >
		<div class="word1">
			<img src="./images/brush.png" class="brush" >
			<img src="./images/t1a.png" class="retina t1a" >
			<img src="./images/t1b.png" class="retina t1b" >
			<img src="./images/t1c.png" class="retina t1c" >
			<img src="./images/t1d.png" class="retina t1d" >
		</div>
		<div class="word2">
			
			<img src="./images/end_1.png" class="retina end_1" >
			<img src="./images/end_2a.png" class="retina end_2 end_2a" >
			<!-- <img src="./images/end_2b.png" id="end_2b" class="retina end_2 end_2b" > -->
			<img src="./images/end_3.png" class="retina end_3" >

			<img src="./images/cta.png" class="retina  cta" >
		</div>

	</div>

	<div class="frame words jackpot_no">
		<img src="./images/bg_blue.png" class="retina bg_blue" >
		<div class="word1">
			<img src="./images/brush.png" class="brush" >
			<img src="./images/t1a.png" class="retina t1a" >
			<img src="./images/t1b.png" class="retina t1b" >
			<img src="./images/t1c.png" class="retina t1c" >
			<img src="./images/t1d.png" class="retina t1d" >
		</div>
		<div class="word2">
			
			
			<img src="./images/t2a.png" class="retina t2 t2a" >
			<img src="./images/t2b.png" class="retina t2 t2b" >
			<img src="./images/t2c.png" class="retina t2 t2c" >
			<img src="./images/t2d.png" class="retina t2 t2d" >
			

			<img src="./images/cta.png" class="retina  cta" >
		</div>

	</div>



	<% include ../_common/templates/_numbers %>	

	
	

	

	

	

	<div id="pn-bg-exit"></div>
</div>