<div class="frame rich endframe jackpot_yes" id="endframe">
	<img src="./images/bg_2.jpg" class="bg2 retina" >
	<img src="./images/end_1.png" class="retina shadow end_1" >
	<img src="./images/end_2a.png" class="retina shadow end_2 end_2a" >
	
	<img src="./images/end_3.png" class="retina shadow end_3" >
	

	
	<img src="./images/cta.png" class="retina  cta" >

	<img src="./images/logo.png" class="retina" >
	<img src="./images/footer.png" class="retina footer" >

	

	

</div>
<% include ./_numbers %>