<div id="banner">
	<div class="outline"></div>
	
	
	<div class="frame frame1 jackpot_yes">
		
		<img src="./images/end_1.png" class="retina end_1" inline>
		<img src="./images/end_2a.png" class="retina end_2a" inline>
		<!-- <img src="./images/end_2b.png" id="end_2b" class="retina end_2b" inline> -->
		<!-- <img src="./images/end_3.png" class="retina end_3" inline> -->
				
		<div class="frame numbers ">
			<img src="../_common/images/num_0.png" class="retina shadow num" id="num_0" inline>
			<img src="../_common/images/num_1.png" class="retina shadow num" id="num_1" inline>
			<img src="../_common/images/num_2.png" class="retina shadow num" id="num_2" inline>
			<img src="../_common/images/num_3.png" class="retina shadow num" id="num_3" inline>
			<img src="../_common/images/num_4.png" class="retina shadow num" id="num_4" inline>
			<img src="../_common/images/num_5.png" class="retina shadow num" id="num_5" inline>
			<img src="../_common/images/num_6.png" class="retina shadow num" id="num_6" inline>
			<img src="../_common/images/num_7.png" class="retina shadow num" id="num_7" inline>
			<img src="../_common/images/num_8.png" class="retina shadow num" id="num_8" inline>
			<img src="../_common/images/num_9.png" class="retina shadow num" id="num_9" inline>
			<div id="millions">
				<img src="./images/end_2b.png" id="end_2b" class="retina end_2b" inline>
				
			</div>
		</div>
	</div>

	
	


	<div class="frame frame3 jackpot_yes">
		
		<img src="./images/t2a_yes.png" class="retina t2 t2a" inline>
		<img src="./images/t2b_yes.png" class="retina t2 t2b" inline>		
		<img src="./images/cta.png" class="retina cta" inline>		
	</div>


	<div class="frame frame1 jackpot_no">
		
		<img src="./images/brush.png" class="brush" inline>
		<img src="./images/t1a.png" class="retina shadow t1a" inline>
		<img src="./images/t1b.png" class="retina shadow t1b" inline>
		<img src="./images/t1c.png" class="retina  t1c" inline>
		<img src="./images/t1d.png" class="retina shadow t1d" inline>
		
	</div>

	
	


 	<div class="frame frame3 jackpot_no">
		
		<img src="./images/t2a_no.png" class="retina t2 t2a" inline>
		<img src="./images/t2b_no.png" class="retina t2 t2b" inline>		
		<img src="./images/t2c_no.png" class="retina t2 t2c" inline>		
		<img src="./images/t2d_no.png" class="retina t2 t2d" inline>		
		<img src="./images/cta.png" class="retina cta" inline>		
	</div>




	<img src="./images/logo.png" class="retina" inline>
	<img src="./images/txt_19.png" class="retina txt_19" inline>
	
	

	

	<div id="pn-bg-exit"></div>
</div>